<div id="border">
<div *ngIf="user" id="display">
 <p>First Name   : {{user[0].first_name}}</p> 
 <p> Last Name   : {{user[0].last_name}}</p> 
 <p> User Name   : {{user[0].user_name}}</p> 
 <p> Password    : {{user[0].password}}</p> 
 <p> Description : {{user[0].description}}</p> 
</div>
</div>

<!-- HOME SECTION START -->
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                afjsdfka
            </div>
        </div>
    </div>
</section>
<!-- HOME SECTION END -->